/node_modules

/assents/dotnet-sdk-8.0.302-win-x64.exe
/assents/NVIDIA-GeForce-MX1xx-2xx-3xx-4xx-and-GTX-16xx-Graphics_VCNFH_WIN_30.0.15.1169_A05.EXE
/assents/Intel-Management-Engine-Components-Installer_PXCYV_WIN_2205.15.0.2623_A05_02.EXE
/assents/Git-2.45.2-64-bit.exe
/assents/dotnet-sdk-8.0.302-win-x64.exe
/assents/NVIDIA-GeForce-MX1xx-2xx-3xx-4xx-and-GTX-16xx-Graphics_VCNFH_WIN_30.0.15.1169_A05.EXE
/assents/Intel-Management-Engine-Components-Installer_PXCYV_WIN_2205.15.0.2623_A05_02.EXE
